@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.banner{
    background: #f8dae0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.banner-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-conent-left{
    width: 50%;
}
.banner-conent-left h1{
    font-size: 45px;
    color: #000;
    font-weight: 900;
}
.banner-conent-left p{
    font-size: 16px;
    color: #444;
    padding: 10px 0;
}
.banner-btn{
    padding: 10px 20px;
    background-color: #E55473;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}
/* .banner-conent-right{} */
.banner-conent-right img{
   width: 400px;
   position: absolute;
   bottom: 0;
   right: 0;
}

/*Our Featured Flowers Setion Start*/
.heading{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 100px 0 70px 0;
}
.featured-heading{
    width: 50%;
}
.featured-heading h2{
    color: #000;
    font-weight: 700;
}
.featured-heading p{
    font-size: 16px;
    color: #444;
}
.featured{
    display: flex;
    width: 100%;
    padding-bottom: 100px;
    justify-content: space-between;
}
.featured-content{
    text-align: center;
    width: 30%;
    /* margin-right: 20px; */
}
.featured-content a{
    color: #444;
    font-size: 16px;
    display: inline-block;
    padding-top: 10px;
}
.featured-img-1,.featured-img-2,.featured-img-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height:400px;
    display: flex;
    align-items: end;
    justify-content: center;
}
.featured-img-2{
    background-color: rgba(5, 151, 160, 0.15);
}
.featured-img-1 img,.featured-img-3 img{
    width:200px;
} 
.featured-img-2 img{
    width:250px;
}
.featured-img-3{
    background: rgba(71, 125, 17, 0.15);
}
.quick-delivery{
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    padding: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.delivery{
    width: 30%;
    text-align: center;
}
/*Our Featured Flowers Setion End*/

/*Hot Deal ! Sale Up To 25% Off Start*/
.hot-deal{
    background: rgba(229, 84, 115, 0.05);
    border-radius: 5px;
    padding: 100px 0;
}
.hot-deal-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hot-deal-left{
    width: 50%;
    text-align: center;
}
.hot-deal-left h2{
    font-weight: 900;
}
.hot-deal-left p{
    padding: 10px 0;
}
.hot-deal-right img{
    width: 200px;
}
/*Hot Deal ! Sale Up To 25% Off End*/

/*Instagram section Strat*/
.instagram{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
 .instagram-content{
    width: 23%;
 }

 .instagram-content img{
    width: 100%;
 }
/*Instagram section End*/
/*Get The Latest Deals Strat*/
.latest-deals{
    background-image: url("../asset/Rectangle 9.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 100px 0;
    margin-bottom: 70px;
    margin-top: 70px;
}
.latest-deals-content{
    text-align: center;
}
.latest-deals-content h2{
    font-weight: 900;
    color: #000;
    padding-bottom: 10px;
}
.deal-from{
    padding: 30px 0 0 0;
}
.deal-input{
   width: 40%;
   padding: 12px 30px;
   background-color: #fff;
   border: none;
   border-radius: 5px;
}
.deal-btn{
    padding: 10px 30px;
    background-color: #E55473;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Get The Latest Deals End*/
/*TELL US YOUR PROJECT Section Start*/
.tell-us{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 50px 0 100px 0;
}
.tell-us-left{
    width: 50%;
    /* background-color: #E55473; */
}
.tell-us-left h3{
    margin: 20px 0;
}
.tell-us-form{
    margin-top: 10px;
}
.tell-form-input{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.tell-us-input{
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px 5px;
    width: 50%;
    background-color: #fff;
    border:1px solid rgba(167, 33, 98, 0.15);
}
.input-text-area{
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px 5px;
    width: 100%;
    background-color: #fff;
    border:1px solid rgba(167, 33, 98, 0.15);
}
.tell-us-input:focus{
    border:1px solid rgba(167, 33, 98, 0.15);
    outline: none;
}
.tell-btn{
    padding: 10px 30px;
    background-color: #E55473;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left:5px;
    margin-top:10px;
}
.tell-us-right{
    background: rgba(229, 84, 115, 0.05);
    width: 45%;
    padding: 20px 30px;
    margin-left: 30px;
}
.tell-us-right p{
    padding: 30px 0 0 0;
}
.contact-ul{
    padding: 30px 0; 
}
.contact-ul li{
    list-style: none;
}
.contact-li{
    padding-right: 5px;
}
/*TELL US YOUR PROJECT Section End*/
/*Footer Section Start*/
footer{
    background-color: #000;
    padding: 100px 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer-content{
    width: 50%;
    color: #fff;
    text-align: center;
}
.footer-content h1{
    color:#fff;
    font-weight: 900;
}
.footer-content h1 span{
    color:#E55473;
}
.footer-content p{
    color: rgba(255, 255, 255, 0.90);
    padding: 10px 0;
    font-size: 16px;
}
.copyright{
    color:rgba(255, 255, 255, 0.40);
    font-size: 16px;
}
/*Footer Section End*/
